html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: var(--spacing-5);
  font-family: var(--font-family);
  font-size: var(--font-size-2);
  color: var(--bg-dark);
  background: var(--bg-primary-lighten);
  scroll-behavior: smooth;
}
